<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="PriceIndexWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Windows" />
                </security>
              </binding>
              <binding name="PriceValueWSSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Windows" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/horizon/Price/PriceIndexWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="PriceIndexWSSoap"
                contract="CoreWS.PriceIndexWSSoap" name="PriceIndexWSSoap" />
            <endpoint address="http://localhost:8000/Horizon/PriceValueWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="PriceValueWSSoap"
                contract="ClassEventsWS.PriceValueWSSoap" name="PriceValueWSSoap" />
        </client>
    </system.serviceModel>
</configuration>